
.social-links {
  a {
    font-size: 25px;
    line-height: 35px;
    text-decoration: none;
    margin: 5px;
  }
}

.fa-svg {
  display: inline-block;
  width: 1.15rem;
  height: 1.15rem;
  background-color: #3f51b5;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center center;
  &.fa-twitter {
    mask-image: url('/assets/svg/twitter.svg');
  }
  &.fa-earth {
    mask-image: url('/assets/svg/earth.svg');
  }
  &.fa-linkedin {
    mask-image: url('/assets/svg/linkedin.svg');
  }
  &.fa-github {
    mask-image: url('/assets/svg/github.svg');
  }
  &.fa-instagram {
    mask-image: url('/assets/svg/instagram.svg');
  }
  &.fa-meetup {
    mask-image: url('/assets/svg/meetup.svg');
  }
}
